body {
    margin: 0;
    padding: 0;
}
.contenedor {
margin: auto;

}
/* estilo encabezado de pagina */
header {
    background-color: #6d2b90;
    display: flex;
   justify-content: center;
}
header img {
    height: 350px;
    width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
header img:hover {
   transform: scale(1.1);
}
.nav {
    display: flex;
    justify-content: center;
   cursor: pointer;
   background-color: #f1e645;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
}
.nav:hover {
background-color: #6d2b90;
}
.nav-tabs  {
font-size: 30px;
font-family:Arial, Helvetica, sans-serif;
}

.nav-link {
    display: flex;
    flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  color: #6d2b90;
}
/* estilo cuerpo de pagina */

/* inicio */
.menu-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    margin: auto;
    padding: auto;
}
.menu-inicio h1 {
    grid-column: 2 / 4;
    font-size:70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #6d2b90;
    font-weight:550;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.menu-inicio h1:hover {
    background-color: #f1e645;
    transform: scale(1.2);
}
.menu-inicio .foto1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border: solid 15px #6d2b90;
    border-radius: 5px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.menu-inicio .foto1:hover {
    transform: scale(1.3);
}
.menu-inicio .foto2 {
    grid-column: 3/ 5;
    grid-row: 2 / 3;
    border: solid 15px #6d2b90;
    border-radius: 5px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.menu-inicio .foto2:hover {
    transform: scale(1.3);
}
.menu-inicio h4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 75px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #6d2b90;
    font-weight:600;
    align-items: flex-start;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.menu-inicio h4:hover {
    background-color: #f1e645;
    transform: scale(1.3);
}
.menu-inicio .foto3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border: solid 15px #6d2b90;
    border-radius: 4px;
}
.menu-inicio .foto4 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    border: solid 15px #6d2b90;
    border-radius: 4px;
}
.menu-inicio .foto5 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    border: solid 15px #6d2b90;
    border-radius: 4px;
}
.menu-inicio .foto6 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    margin-bottom: 1em;
    border: solid 15px #6d2b90;
    border-radius: 4px;
}
/* productos */
main {
    margin-top: 2em;
    margin-bottom: 2em;
}
.accordion-button {
    font-size: 30px; 
    font-family: sans-serif;
    background-color: #f1e645; 
}
.pan-rallado {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.accordion-body {
    font-size: 20px;
}
.tostadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* historia */
.main-historia {
    height: 80vh;
    background-image: url(../img/logo\ blanco.jpg);
    background-size:cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,1fr);
}
.main-historia .historia {
    grid-column: 1 / 10;
    grid-row: 2 / 6;
    color: #000000;
}
.historia h3 {
    font-size: 5em;
    font-weight: 600;
    color: #6d2b90;  
    margin-left: 4em;
    margin-bottom: 0.5em;
}
.historia p {
    color: #000000;
    background-color: #e9e98f52;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2em;
   font-weight: 800;
   margin-left: 1em;
   margin-right: 1em;
   
}
/* contacto */
.contacto {
    height: 80vh;
    background-image: url(../img/logo\ blanco.jpg);
    background-size:cover;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacto h5 {
display: flex;
font-size: 5em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #6d2b90;
font-weight: 700;
}
.inti ul {
    display: flex;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #000000;
   background-color: #6d2b9058;
   justify-content: center;
   margin-top: 2em;
}
.contenido .ubicacion {
    display: flex;
    justify-content: space-evenly;
    background-color: #6d2b9058;
    font-size: 3em;
    color: #000000;
    font-weight: 700;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.contenido .instagram {
    display: flex;
    justify-content: center;
    background-color: #6d2b9058;

}
.pie-contactos {
    height: 20vh;
    max-width: 100%;
    background-image: linear-gradient(180deg, #6d2b90, #f1e645);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pie-contactos p {
    display: flex;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #000000;
   justify-content: right;
   margin-top: 1em;
}
/* Clientes */
.clientes {
    height: 80vh;
    background-image: url(../img/logo\ blanco.jpg);
    background-size:cover;
    max-width: 100%;
}
.clientes h6 {
    display: flex;
    flex-direction: row;
    justify-content: center ;
   font-size: 4em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6d2b90;
    font-weight:600;
}
.clientes-info {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
    background-color: #6d2b9058;
    margin-top: 10em;
}
.clientes-info2 {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    background-color: #6d2b9058;
    margin-top: 10em;
}
.clientes p {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2em;
   font-weight: 600;
border-radius: 1em;
}
/* estilo pie de pagina*/
.pie-pagina {
    background-image: linear-gradient(180deg, #6d2b90, #f1e645);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
.pie-pagina h2 {
    font-family: sans-serif;
    font-size: 50px;
    color: #000000;
    margin-left: 2em;
}
.pie-pagina .list {
    font-family: sans-serif;
    font-size: 20px;
    grid-column: 3 / 4;
    color: #000000;
    margin-top: 1em;
}
.logo2{
    grid-column: 5 /6;
  padding: 0%;
  margin-left: 5em;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.logo2:hover {
     transform: scale(1.2);

}
/* media queries*/

@media screen and (max-width: 450px) {

.contenedor{
    width: 100%;
    height: auto;
}
/* encabezado pagina */

.encabezado {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #6d2b90;
}
header nav{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
header img {
    margin: auto;
    width: 20em;
    height: 20em;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: column;
    padding: auto;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 40px;
    margin-top: 10px;
}
nav ul li{
    display: flex;
    flex-direction: column;
    border: solid 2px #000000;
    font-family:monospace ;
    padding: 5px;
 } 
/* cuerpo inicio */
main h1 {
    display: flex;
    font-size: 35px;
    font-family:monospace ;
    text-align: justify;
    justify-content: center;
}
#demo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.carousel-inner {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-start;
    margin-left: 40px;
}
.carousel-item :active {
    width: 350px;
    height: 350px;
}
.carousel-item {
    width: 350px;
    height: 350px;
}
.carousel-control-prev{
    margin: auto;
    height: auto;
    width: auto;
}
.carousel-control-prev-icon {
background-color: #6d2b90;
}
.carousel-control-next {
    margin: auto;   
}
.carousel-control-next-icon {
    background-color: #6d2b90;
}
/* pie pagina */
.pie-pagina {
    background-color: #f1e645;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto; 
    margin-top: 3em;
}
h2 {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    font-family: sans-serif;
    font-size: 45px;
}
.list {
    display: flex;
  justify-content: center;
  margin: auto;
}
.logo2 {
    display: flex;
    margin-top: 3em;
    justify-content: center;
    margin:auto;
    align-items:center ;
}
/* Cuerpo productos */
.accordion-button {
    font-size: 25px; 
    font-family: sans-serif;
    background-color: #f1e645;
    margin: auto; 
}
.pan-rallado {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.accordion-body {
    font-size: 20px;
}
.tostadas {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.tostadas-semillas {
    display: flex;
    justify-content: center;
   width: auto;
   height: auto;
}