body {
    margin: 0;
    padding: 0;
}

#contenedor {
    margin: auto;
    display: grid;
}

/* estilo encabezado de pagina */
header {
    background-color: #6d2b90;
    display: flex;
    justify-content: center;
}

header img {
    height: 350px;
    width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

.nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #f1e645;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav:hover {
    background-color: #6d2b90;
}

.nav-tabs {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    color: #6d2b90;
}

/* estilo cuerpo de pagina */
/* inicio */
.menu-inicio {
    margin: 0;
    background-image: url(../img/campo\ trigo.jpg);
    background-size: cover;
    max-width: 100%;
}

.menu-inicio h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #6d2b90;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(30px, auto);

}

.galeria div {
    justify-items: center;
    border: solid 1em #f1e6458e;
    margin: 2em;
    border-radius: 4em;
}

.galeria img {
    width: 100%;
    border-radius: 3em;
}

.menu-inicio h5 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #6d2b90;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}

.galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-rows: minmax(30px, auto);
}

.galeria2 div {
    justify-items: center;
    margin: 2em;
}

.galeria2 img {
    width: 100%;
    border-radius: 4em;
}

/* productos */
main {
    margin: 0%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.accordion-button {
    font-size: 30px;
    font-family: sans-serif;
    background-color: #f1e645;
    color: #6d2b90;

}

.accordion-item {
    background-color: #6d2b9065;
}

.pan-rallado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    height: 50%;
    width: 500px;
    height: 500px;
    margin-left: 40em;
}

.tostadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    height: 50%;
    width: 500px;
    height: 500px;
    margin-left: 40em;
}

/* historia */
.main-historia {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    background-image: url(../img/campo\ trigo.jpg);
    background-size: cover;
    max-width: 100%;
    margin: 0%;
}

.main-historia h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    font-size: 4.5em;
    font-weight: 700;
    color: #6d2b90;
    margin-left: 5em;
    margin-top: 1em;
}

.main-historia .historia {
    grid-column: 1 / 10;
    grid-row: 2 / 4;
}

.historia p {
    color: #000000;
    background-color: #e9e98f6d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

/* contacto */
.contacto {
    height: 80vh;
    background-image: url(../img/campo\ trigo.jpg);
    background-size: cover;
    max-width: 100%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto h5 {
    display: flex;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6d2b90;
    font-weight: 800;

}

.inti ul {
    display: flex;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    background-color: #6d2b906e;
    justify-content: center;
    margin-top: 2em;
}

.contenido .ubicacion {
    display: flex;
    justify-content: space-evenly;
    background-color: #6d2b9058;
    font-size: 3em;
    color: #000000;
    font-weight: 700;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.contenido .instagram {
    display: flex;
    justify-content: center;
    background-color: #6d2b9058;

}

.pie-contactos {
    height: 20vh;
    max-width: 100%;
    background-image: linear-gradient(180deg, #6d2b90, #f1e645);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.pie-contactos p {
    display: flex;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    justify-content: right;
    margin-top: 1em;
}

.pie-pagina img {
    width: 50px;
    height: 50px;
}

/* Clientes */
.main-clientes {
    background-image: url(../img/campo\ trigo.jpg);
    background-size: cover;

}

.main-clientes h6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #6d2b90;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 1em;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 10px;
    padding: 10px;
    margin: auto;
}

.grid-container>div {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    justify-content: space-evenly;
}

.grid-container>div img {
    width: 100%;
}

/* estilo pie de pagina*/
.pie-pagina {
    background-image: linear-gradient(180deg, #6d2b90, #f1e645);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin: 0%;
}

.pie-pagina h2 {
    font-family: sans-serif;
    font-size: 50px;
    color: #000000;
    margin-left: 2em;
}

.pie-pagina .list {
    font-family: sans-serif;
    font-size: 20px;
    grid-column: 3 / 4;
    color: #000000;
    margin-top: 1em;
}

.logo2 {
    grid-column: 5 /6;

    margin-left: 5em;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.logo2:hover {
    transform: scale(2);

}

/* media queries*/

@media screen and (max-width: 450px) {
    #contenedor {
        display: grid;
        grid-column: auto;
        align-items: center;
        margin: 0%;
    }

    /* encabezado */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        height: 250px;
        width: 250px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }

    .nav-tabs {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1em;
    }

    .nav-link {
        margin: auto;
        align-items: center;
    }

    /* menu inicio */
    .menu-inicio {
        margin: 0;
        background-image: url(../img/campo\ trigo.jpg);
        background-size: auto;
        max-width: 100%;
    }

    .menu-inicio h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .galeria div {
        justify-items: center;
        margin: 1em
    }

    .galeria img {
        width: 100%;
    }

    .menu-inicio h5 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .galeria2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        grid-template-rows: minmax(20px, auto);
    }

    .galeria2 div {
        justify-items: center;
        margin: 1em;
    }

    .galeria2 img {
        width: 100%;
        margin: auto;
        border-radius: 2em;
    }

    /* pie pagina */
    .pie-pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pie-pagina h2 {
        font-size: 40px;
        margin: 0%;
        font-weight: 700;
        margin-top: 1em;
    }

    .pie-pagina .list {
        font-size: 20px;
        color: #000000;
        margin-top: 1em;
    }

    .logo2 {
        display: flex;
        align-items: center;
        margin: 0%;
        width: 150px;
        height: 150px;
        justify-content: center;
    }

    /* Productos */
    main {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .accordion-button {
        font-size: 25px;
    }

    .pan-rallado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin-left: 5em;
    }

    .accordion-item {
        margin: 0%;
    }

    .tostadas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin-left: 5em;
    }

    /* Historia */
    .main-historia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-historia .historia{
      margin-left: 1em;
      margin-right: 1em;
    }
    .main-historia h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3em;
        font-weight: 700;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .historia p {
        font-size: 20px;
        font-weight: 700;
    }

    /* contactos */
    .contacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacto h5 {
        display: flex;
        justify-content: center;
        margin-left: 1em;
        font-size: 1.5em;
        font-weight: 600;
    }

    .inti ul {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 700;
        background-color: #6d2b907c;
        margin-top: 2em;
    }

    .contenido .ubicacion {
        display: flex;
        justify-content: center;
        background-color: #6d2b907c;
        font-size: 1.5em;
        flex-direction: column;
        align-content: center;
        margin-bottom: 1em;
    }

    .contacto .mapa {
        justify-content: center;
        flex-direction: column;
        width: 150px;
        height: 150px;
        margin-bottom: 1em;
    }

    .contenido .instagram {
        justify-content: center;
        background-color: #6d2b907c;

    }

    .pie-contactos {
        height: 40vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pie-contactos p {
        justify-content: center;
        font-size: 1.5em;
        font-weight: 600;
        text-orientation: sideways-right;
    }

    .pie-pagina img {
        width: 50px;
        height: 50px;
    }

    /* clientes */
    .main-clientes {
        margin: auto;
        background-image: none;
        background-color: #6d2b9066;
    }

    .main-clientes h6 {
        justify-content: center;
        flex-direction: column;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .grid-container>div {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .grid-container>div img {
        height: 50px;
        width: 50px;
    }
}