// Main-clientes
.main-clientes{
    background-image: url(../img/celiacos.jpg);
    background-size: cover;
    margin: 0%;

    h6 {
        @include flex-center;
        flex-direction: row;
        color: $fondo1;
        font-size: 70px;
        font-weight: $fw;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .grid-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(4, 1fr);
        align-content: center;
        gap: 10px;
        padding: 10px;
        margin: auto;

        div {
            text-align: center;
            padding: 30px;
            font-size: 30px;
            font-weight: $fw;
            color: $color;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: auto;
            justify-content: space-evenly;

            img {
                width: 100%;
            }
        }
    }

}