$color-encabezado: #6d2b90;

body {
    margin: auto;
}
.contenedor {
    width: 100%;
    height: auto;
    background-color: #6d2b90;
}
.encabezado {
    display: flex;
    background-color: #6d2b90;
    margin: auto;
    width: 100%;

    .logo{
        width: 400px;
        height: 400px;
    }
        li {
            background-color:#f1e645;
            border: solid 3px #000000;
            font-size: 20px;
        }
}
